<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student info</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>
<body>

<div class="container my-3">
    <h1 class="text-center mb-3">List of Students</h1>
    <a href="/students/create" class="btn btn-primary">New Student</a>

    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr th:each="student : ${students}">
                <th scope="row" th:text="${student.id}"></th>
                <td th:text="${student.firstName}+ ' ' + ${student.lastName}"></td>
                <td th:text="${student.email}"></td>
                <td th:text="${student.address}"></td>
                <td th:text="${student.status}"></td>

                <td style="white-space:nowrap">
                    <a th:href="@{/students/edit(id=${student.id})}" class="btn btn-primary btn-sm">Edit</a>
                    <a th:href="@{/students/delete(id=${student.id})}" class="btn btn-danger btn-sm"
                    onclick="return confirm('Are you sure?')"
                    >Delete
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>